<% provide(:title, 'About Montly Resolutions') %>
<h2>About Us</h2>
<p>Montly Resolutions is a productivity project by Scott Tolinski.</p>
<p>Make resolutions that you can keep every single month and get things done</p>