<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>Montly Resolutions is a productivity project by Scott Tolinski.</p>
<p>Make resolutions that you can keep every single month and get things done</p>