<% provide(:title, 'Montly Resolutions') %>
<section id="main">
	<div class="tagline">
        <h1 class="page-title">ResolvePath</h1>
		<h3 class="large">Monthly Resolutions with micro checkpoints.</h3>
		<p>Take control of your life by setting resolutions that you can keep. Watch as your New Years mindset is triggered every month  and be amazed with what you can accomlish.</p>
	</div>
	<div class="user">
		<a class="btn signup" href="/accounts/register/">Sign Up</a>
		<a class="btn demo" href="#">See Demo</a>
	</div>
</section>