/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "base";
// @import "bootstrap";
@import "susy";


$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
// border-box-sizing()
@include border-box-sizing;

.page {
  // page acts as a container for our grid.
  // @include container;
  width:100%;
  // header and footer are full-width by default.
  header, footer { clear: both; }

  // nav spans 3 columns of total 12.
  nav { @include span-columns(5,12); }

  .main-contain {
    @include span-columns(10, 12);
    @include push(1);
    // main content spans 6 of those 9 columns.
    .main { @include span-columns(6,9); }

    // secondary content spans the final 3 (omega) of 9 columns.
    .secondary { @include span-columns(3 omega,9); }
  }
}
body {
	// @include gradient(white);
}


p, li {
	font-size:16px;
	color:$text;
	font-family: Century Gothic, sans-serif;
}

.navbar {

	background: #dddddd;
	height:50px;
	border-bottom:2px solid #c6c4c4;
	width:100%;
	@include gradient(#ddd, #eee);
	@include anim(faded, 2s);
 	.logo {
		font-family:'Bree Serif';
		font-weight:normal;
		float:left;
		margin:5px 0 0 0;
		font-size:2.2em;
		a {
			text-decoration:none;
			color:$blue;
			@include text-shadow(1px 1px 1px #666);
			@include transition;
			&:hover {
				color:#aaa;
			}
		}
	}
	.wrapper {
		width: 80%;
		margin:0 auto;
		nav > ul {
			margin:0;
			float:right;
			border-left:1px solid #ddd;
			border-right:1px solid #ccc;
			> li {
				float:left;
				margin:0;
				list-style:none;
				position:relative;
				> a {
					padding:14px 30px;
					display:block;
					height:50px;
					border-left:1px solid #ccc;
					border-right:1px solid #ddd;
					text-decoration:none;
					color:#787878;
					@include transition;
					&:hover {
						color:#fff;
						background:#c6c4c4;
						@include box-shadow(inset 0 2px 10px rgba(#333, 0.4));
					}
				}
			}
		}
	}
}
.btn {
	@include button($blue);
	color:white;
}
.new-user {
	margin:20px 0;
}


@-webkit-keyframes faded {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-moz-keyframes faded {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-o-keyframes faded {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@keyframes faded {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}