/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "base";
// @import "bootstrap";
@import "susy";
@import 'font-awesome';


$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
// border-box-sizing()
@include border-box-sizing;

.page {
  width:100%;
  // header and footer are full-width by default.
  header, footer { clear: both; }

  // nav spans 3 columns of total 12.
  nav { @include span-columns(5 omega,12); }

  .main-contain {
    @include span-columns(10, 12);
    // main content spans 6 of those 9 columns.
    .main { @include span-columns(6,9); }

    // secondary content spans the final 3 (omega) of 9 columns.
    .secondary { @include span-columns(3 omega,9); }
    @include push(1);
  }
  // page acts as a container for our grid.
  // @include container;
}
body {
	// @include gradient(white)
}
h1 {
	font-family:'Bree Serif';
}
h2 {
	font-family:'Bree Serif';
}
h3 {
	font-family:"Open Sans", sans-serif;
}
.page-title {
	font-size:2.5em;
}
.res-title {
	display:inline;
	margin-right:30px;
	color:$blue;
	font: 2.25em 'Bree Serif';
}

p, li {
	color:$text;
	font-size:16px;
	font-family: "Open Sans", sans-serif;
}

.navbar {
	@include gradient(#ddd, #eee);
	width:100%;
	height:55px;
	border-bottom:2px solid #c6c4c4;
	background: #dddddd;
 	.logo {
		float:left;
		margin:0;
		font-weight:normal;
		font-size:2.2em;
		a {
			@include text-shadow(1px 1px 1px #666);
			color:$blue;
			text-decoration:none;
			&:hover {
				color:#aaa;
			}
			@include transition;
		}
	}
	.wrapper {
		margin:0 auto;
		width: 80%;
		nav > ul {
			float:right;
			margin:0;
			padding:0;
			border-right:1px solid #ccc;
			border-left:1px solid #ddd;
			> li {
				position:relative;
				float:left;
				margin:0;
				list-style:none;
				> a {
					@include transition;
					display:block;
					padding:14px 30px;
					height:55px;
					border-right:1px solid #ddd;
					border-left:1px solid #ccc;
					color:#787878;
					text-decoration:none;
					&:hover {
						@include box-shadow(inset 0 2px 10px rgba(#333, 0.4));
						background:#c6c4c4;
						color:#333;
					}
				}
			}
		}
	}
	@include anim(faded, 2s);
}
.btn {
	@include button($blue);
	color:white;
}
.new-user {
	margin:20px 0;
	.demo {
		@include gradient(white);
	}
}
.res {
	> span {
		a {
			position:relative;
			text-decoration:none;
			.tool {
				@include border-radius(5px);
				position: absolute;
				top: 27px;
				left: -15px;
				padding: 7px;
				border: solid 1px #ddd;
				background: #eee;
				color: #ccc;
				opacity:0;
				&::after {
					position: absolute;
					top: -20px;
					left: 31%;
					border-top: solid 10px transparent;
					border-right: solid 10px transparent;
					border-bottom: solid 10px #ddd;
					border-left: solid 10px transparent;
					content: '';
				}
				@include transition;
			}
		&:hover {
			.tool {
				opacity:1.0;
			}
		}
			i {
				@include transition;
				padding:5px;
 				
				font-size:1.6em;
				opacity:0.2;
				&:hover {
					opacity:1.0;
				}
			}
		}
	}
}
.icon-edit {
	color:#333;
	font-size:1.6em;
}
.icon-remove-sign {
	color:$red;
}


@-webkit-keyframes faded {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-moz-keyframes faded {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-o-keyframes faded {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@keyframes faded {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}