<header class="navbar">
	<div class='wrapper'>
		<h1 class="logo"><%= link_to "Monthly Resolve", root_path %></h1>
		<nav>
			<ul class="nav">
				<li><a href="/resolution/">My Resolutions</a></li>
				<li class="last"><a href="#">Settings</a>
						<!-- <ul class="drop">
						<li><a href="/accounts/logoff/">Sign Out</a></li></ul> -->
					<!--<li><a href="/accounts/register/"> Create Account</a></li>
					<li class="last"><a href="/accounts/login/">Login</a></li> -->
				</li>
			</ul>
		</nav>
	</div>
</header>